<style>

.login_button{
   background-color:#007BEC;
    width:90%;
    text-align:center;
    color:white;
    font-size:1rem;
    padding: 1rem;
    border-radius:5px
}
</style>
<ion-modal-view ng-controller="LoginNoListCtrl">
  <ion-header-bar class="bar-positive" align-title="center">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-left button-clear"
              ng-click="goBack()">返回
      </button>
    </div>
    <h1 class="title">二维码功能</h1>
  </ion-header-bar>
  <ion-content>
    <div style="height:50%;
           border-bottom:1px solid  #a8a8a8" >
     <div style="width:100%;height:100%;
          text-align: center;"
          ng-click="createOrAdd(0)">
       <img src="img/mesage.png"/>
        <p>生成二维码</p>
     </div>
    </div>
    <div style="height:50%">
      <div style="width:100%;height:100%;
          text-align: center;"
           ng-click="createOrAdd(1)">
        <img src="img/mesage.png"/>
        <p>识别二维码</p>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
