<ion-modal-view ng-controller="ContactDetailCtrl">
	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="contactDetailModal.close()">
				返回
			</button>
		</div>
		<h1 class="title">通讯录详情</h1>
	</ion-header-bar>
	<ion-content scroll="false">
		<div class="item-divider" style="padding:2rem;">
            <h4>{{contactdetail.NAME}}</h4>
            <h5 style="color:#555">{{contactdetail.DEPT_NAME}}</h5>
        </div>

        <div class="list" style="margin-bottom:2rem;">
            <div class="item  item-icon-right">
                <div>
                    <p style="color:#0066c6">手机</p>
                  <!--  <p>{{contactdetail.cell}}</p>-->
                </div>
                <a href="sms:{{contactdetail.MOBILE}}">
                    <i class="icon ion-ios-chatbubble-outline" style="margin-right:50px;color:#0066c6" ng-click="message()"></i>
                </a>
                <a href="tel:{{contactdetail.MOBILE}}">
                    <i class="icon ion-ios-telephone-outline" style="color:#0066c6" ng-click="call()"></i>
                </a>
            </div>

            <div class="item  item-icon-right">
                <p style="color:#0066c6">座机</p>
                <p>{{contactdetail.OFFICE_TEL}}</p>
                <a ng-href="tel:{{contactdetail.OFFICE_TEL}}">
                    <i class="icon ion-ios-telephone-outline" style="color:#0066c6" ng-click="call()"></i>
                </a>
            </div>

            <div class="item  item-icon-right" ng-click="email()">
                <p style="color:#0066c6">邮件</p>
                <p>{{contactdetail.EMAIL}}</p>
                <i class="icon ion-ios-email-outline" style="color:#0066c6"></i>
            </div>

        </div>
	</ion-content>
</ion-modal-view>

