<ion-modal-view ng-controller="ListCtrl2">
<!-- 	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<button class="button button-icon  button-clear" ng-if="!showReader"
			  ng-class="{false:' icon ion-ios-arrow-left',true:'icon ion-ios-close-empty'}[showReader]" ng-click="goBack()">
				返回
			</button>
			<button class="button button-icon  icon ion-ios-close-empty button-clear"
			ng-if="showReader"
			 ng-click="goBack()">
				
			</button>
		</div>
		<h1 class="title">列表二</h1>
		<div class="buttons">
			<button class="button button-icon icon">添加</button>
		</div>
	</ion-header-bar> -->
	
	 <http-directive>
	 </http-directive>
	<list-operation-directive titleflag="{{title}}">
   </list-operation-directive>
</ion-modal-view>

