<ion-modal-view ng-controller="HomeCtrl">
<style>
.row-root{
border-top:1px solid #dfdfdf;
border-bottom:1px solid #dfdfdf;
}


.row-my{
text-align:center;
padding:0px;
border-bottom:1px solid #dfdfdf;
}
.row-my:last-child{
border-bottom:0px;
}
.row-col{
border-right:1px solid #dfdfdf;
}
.row-col:last-child{
border-right:0px;
}

.row-col-i{
font-size:1.5rem;
}
.row-col-p{
margin-top:0rem;
color:#666;
}
.red-point:after{
position: absolute;
content: ' ';
height: 0.5rem;
width: 0.5rem;
border-radius: 50%;
background-color: red;
}
.red-point:after{
margin-left:2rem;
}
.row + .row{
margin:0;
}
.slider {
  width: 100%;
  height: auto;
}

</style>
	<ion-tabs class="tabs-icon-top tabs-color-active-positive">
		<!-- Grid Tab -->
		<ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home">
			<ion-nav-view name="tab-office">
				<ion-view view-title="首页" class="common-bg">
					<ion-header-bar class="head-c" align-title="center">
						<div class="title">首页</div>
					</ion-header-bar>
					<ion-content class="">
						<ion-slide-box does-continue="true" show-pager="true">
							<ion-slide>
								<div class="positive-bg" ng-click="show()">
									<img src='img/333.png' style="width:100%;">
								</div>
							</ion-slide>
						</ion-slide-box>
						<div style="margin:0.5rem 0px;" class="row-root">
							<div class="row row-my">
								<div class="col row-col" ng-click="open('6')">
									<img src="img/home-icon-1.png">
									<div class="row-col-p">新闻公告</div>
                                </div>
                                <div class="col row-col" ng-click="open('9')">
									<img src="img/home-icon-2.png">
									<div class="row-col-p">通讯录</div>
                                </div>
                                <div class="col row-col" ng-click="open('8')">
									<img src="img/home-icon-4.png">
									<div class="row-col-p">事宜待办</div>
								</div>
                               <!--  <div class="col row-col" ng-click="open('5')">
									<i class="icon ion-social-whatsapp row-col-i"></i>
									<div class="row-col-p">添加页</div>
								</div> -->
                            </div>
                            <div class="row row-my">
                            	<div class="col row-col" ng-click="open('1')">
									<img src="img/home-icon-5.png">
									<div class="row-col-p">问吧</div>
								</div>
                                <div class="col row-col" ng-click="open('2')">
									<img src="img/home-icon-6.png">
									<div class="row-col-p">列表一</div>
								</div>
								<div class="col row-col" ng-click="open('3')">
									<img src="img/home-icon-3.png">
									<div class="row-col-p">列表二</div>
                                </div>
                            </div>
							<div class="row row-my">
                                <div class="col row-col">
									<span class="red-point" style="display:none"></span>
									<img src="img/home-gray.png">
									<div class="row-col-p">demo</div>
                                </div>
								<div class="col row-col">
									<span class="red-point" style="display:none"></span>
									<img src="img/home-gray.png">
									<div class="row-col-p">加载页</div>
                                </div>
                                <div class="col row-col">
									<img src="img/home-gray.png">
									<div class="row-col-p">会议通知</div>
                                </div>
                            </div>
							<!--<div class="row row-my">
                            	<div class="col row-col" ng-click="open('1')">
									<i class="icon ion-ios-list-outline row-col-i"></i>
									<div class="row-col-p">列表一</div>
								</div>
								<div class="col row-col" ng-click="open('2')">
									<i class="icon ion-ios-list-outline row-col-i"></i>
									<div class="row-col-p">列表二</div>
                                </div>
                                <div class="col row-col" ng-click="open('3')">
									<i class="icon ion-ios-list-outline row-col-i"></i>
									<div class="row-col-p">列表三</div>
                                </div>
                                <div class="col row-col" ng-click="open('4')">
									<i class="icon ion-ios-list-outline row-col-i"></i>
									<div class="row-col-p">详情</div>
                                </div>
                            </div>-->
						</div>
					</ion-content>
				</ion-view>
			</ion-nav-view>
		</ion-tab>
		<!-- List Tab -->
		<ion-tab title="插件" icon-off="ion-ios-information-outline" icon-on="ion-ios-information">
			<ion-nav-view name="tab-home">
				<ion-view view-title="首页" class="common-bg">
					<ion-header-bar class="head-c" align-title="center">
						<div class="title">首页</div>
					</ion-header-bar>
					<ion-content>
						<div class="list">
                            <div class="item item-divider">
                            </div>
                            <div style="display:none">
							<div ng-click="open('1')">
								<a class="item item-icon-left">
									<i class="icon ion-social-twitter"></i>
									列表
								</a>
							</div>
							<div ng-click="open('2')">
								<a class="item item-icon-left">
									<i class="icon ion-social-twitter"></i>
									列表（搜索）
								</a>
							</div>
							<div ng-click="open('3')">
								<a class="item item-icon-left">
									<i class="icon ion-social-twitter"></i>
									列表（分块）
								</a>
							</div>
							<div ng-click="open('4')">
								<a class="item item-icon-left">
									<i class="icon ion-social-twitter"></i>
									详情页
								</a>
							</div>
                            <div class="item item-divider">
                            </div>
                            </div>
                            <div ng-click="turn(0)">
								<a class="item item-icon-left item-icon-right">
									<i class="icon ion-android-expand" style="color:#FF7500"></i>
									扫描二维码
									<i class="icon ion-ios-arrow-right" style="color:#B9B9B9;display:none"></i>
								</a>
                            </div>
							<div ng-click="turn(1)">
								<a class="item item-icon-left item-icon-right">
									<i class="icon ion-android-camera" style="color:#0081EF"></i>
									拍照
									<span class="badge badge-assertive" style="position:absolute;margin-left:1.5rem;display:none;">99</span>
									<i class="icon ion-ios-arrow-right" style="color:#B9B9B9;display:none"></i>
								</a>
                            </div>
							<div ng-click="turn(2)" style="display:none;">
								<a class="item item-icon-left">
									<i class="icon ion-social-github"></i>
									视频播放
									<span class="item-note">备注之类</span>
								</a>
                            </div>
							<div ng-click="turn(3)">
								<a class="item item-icon-left">
									<i class="icon ion-android-contact" style="color:#00AD63"></i>
									联系人
								</a>
                            </div>
							<div ng-click="turn(4)">
								<a class="item item-icon-left">
									<i class="icon ion-android-calendar" style="color:#F83F2C"></i>
									选择日期
								</a>
                            </div>
							<div ng-click="turn(5)">
								<a class="item item-icon-left">
									<i class="icon ion-android-funnel" style="color:#FF5D89"></i>
									设备信息
								</a>
                            </div>
							<div ng-click="turn(6)" style="display:none;">
								<a class="item item-icon-left">
									<i class="icon ion-social-pinterest"></i>
									文件下载
								</a>
                            </div>
							<div ng-click="turn(7)" style="display:none;">
								<a class="item item-icon-left">
									<i class="icon ion-social-reddit"></i>
									探照灯
								</a>
                            </div>
							<div ng-click="turn(8)" style="display:none;">
								<a class="item item-icon-left">
									<i class="icon ion-social-hackernews"></i>
									多媒体
								</a>
                            </div>
							<div ng-click="turn(9)">
								<a class="item item-icon-left">
									<i class="icon ion-android-send" style="color:#AF4398"></i>
									网络状态
								</a>
                            </div>
							<div ng-click="turn(10)" style="display:none;">
								<a class="item item-icon-left">
									<i class="icon ion-social-yahoo"></i>
									持久化
								</a>
                            </div>
							<div ng-click="turn(11)" style="display:none;">
								<a class="item item-icon-left">
									<i class="icon ion-social-buffer"></i>
									数据库
								</a>
                            </div>
							<div ng-click="turn(12)">
								<a class="item item-icon-left">
									<i class="icon ion-android-hangout" style="color:#00B2C1"></i>
									提示框
								</a>
                            </div>
                            <div ng-click="turn(13)">
								<a class="item item-icon-left">
									<i class="icon ion-android-folder-open" style="color:#C50031"></i>
									打开文件
								</a>
                            </div>
								<div ng-click="turn(14)">
									<a class="item item-icon-left">
										<i class="icon ion-locked" style="color:#44BCF9"></i>
										密码锁
									</a>
								</div>
								<div ng-click="turn(15)" style="display:none">
									<a class="item item-icon-left">
										<i class="icon ion-locked" style="color:#FF7500"></i>
										欢迎页
									</a>
								</div>
							<div class="item item-divider">
                            </div>
                        </div>
					</ion-content>
				</ion-view>
			</ion-nav-view>
		</ion-tab>
		<!-- Other Tab -->
		<ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
			ng-controller="SettingCtrl">
			<ion-nav-view name="tab-other">
				<ion-view view-title="设置" class="common-bg">
					<ion-header-bar class="head-c" align-title="center">
						<div class="title">设置</div>
					</ion-header-bar>
					<ion-content class="">
						<div class="item item-divider">
				          Settings
				        </div>
				        <ion-toggle ng-repeat="item in settingsList"
				                    ng-model="item.checked"
				                    ng-checked="item.checked"
									ng-change="settingchage(item)">
				          {{item.text}}
				        </ion-toggle>
						<div class="item item-divider">
				        </div>
						<div ng-click="showpopup()">
							<a class="item item-icon-left">
								<i class="icon ion-social-pinterest"></i>
								设置访问地址
							</a>
						</div>
					</ion-content>
				</ion-view>
			</ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-modal-view>
