<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
<ion-modal-view ng-controller="DemoAddCtrl">
<form name="form" class="css-form" novalidate>
	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="demoaddModal.close()">
				返回
			</button>
		</div>
		<h1 class="title">Demo添加页</h1>
		<div class="buttons">
			<button class="button button-icon">发送</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<label class="item item-input item-select ">
            <span class="input-label" style="width:20%">选择框<span style="color:red"> *</span></span>
			<select ng-model="demoaddModal.data.color" ng-options="color.name for color in demoaddModal.colors"></select>
        </label>
		<label class="item item-input">
            <span class="input-label" style="width:20%">日期选择<span style="color:red"> *</span></span>
            <input type="date"  ng-model="demoaddModal.data.finishDate" style="text-align:right">
        </label>
        <label class="item item-input">
            <span class="input-label" style="width:20%">时间选择<span style="color:red"> *</span></span>
            <input type="time"  ng-model="demoaddModal.data.finishTime" style="text-align:right">
        </label>
        <label class="item item-input">
            <span class="input-label" style="width:20%">输入框<span style="color:red"> *</span></span>
            <input type="number" ng-model="demoaddModal.data.title" style="text-align:right"
				name="uTitle" integer>
        </label>
		<label class="item item-input" style="padding:0.5rem;">
            <textarea rows="10" ng-model="demoaddModal.data.content" style="border:0px solid" 
			placeholder="多文本输入框" name="uContent"></textarea>
        </label>
		
	</ion-content>
</form>
</ion-modal-view>

