<ion-modal-view ng-controller="AddCtrl">
	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="addModal.close()">
				返回
			</button>
		</div>
		<h1 class="title">添加页</h1>
		<div class="buttons" style="display:none;">
			<button class="button button-icon icon ion-ios-plus-empty" ng-click="goAdd()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="item item-input">
			<span class="input-label">文本</span>
			<input type="text"style="text-align:right">
		</div>
		<div class="item item-input">
			<span class="input-label" style="width:10%;">多文本</span>
			<textarea rows="4" type="text" placeholder="现象描述*" style="padding:10px;width:85%;"></textarea>
		</div>
		<label class="item item-input item-select">
			<span class="input-label">下拉框</span>
			<select>
			  <option>Blue</option>
			  <option selected>Green</option>
			  <option>Red</option>
			</select>
		</label>
		<div class="item">
			<div style="float:left;">单选框</div>
			<div style="float:right;width:50%;">
			<input type="radio" ng-model="color" value="red">  Red &nbsp;&nbsp;&nbsp;
			<input type="radio" ng-model="color" ng-value="specialValue"> Green &nbsp;&nbsp;&nbsp;
			<input type="radio" ng-model="color" value="blue"> Blue &nbsp;&nbsp;&nbsp;
			</div>
		</div>
		<div class="item">
			<div style="float:left;">多选框</div>
			<div style="float:right;width:50%;">
			<input type="checkbox" ng-model="value1">Red&nbsp;&nbsp;&nbsp;
			<input type="checkbox" ng-model="value2">Green&nbsp;&nbsp;&nbsp;
			</div>
		</div>
		<label class="item item-input">
			<span class="input-label">日期</span>
			<input type="date" ng-model="addDate" style="text-align:right;">
		</label>
		<label class="item item-input">
			<span class="input-label">日期时间</span>
			<input type="datetime-local" ng-model="addTime" style="text-align:right;">
		</label>
		
		<div class="item">

			{{ data.date }} <br>

			<button class="button button-block button-positive"
				ng-click="pick('date')">pick date</button>
		</div>
		
		<div class="item">
			<button class="button button-block button-positive" ng-click="downloadFile()">Download File</button>
			<div class="card" ng-if="downloadProgress">
				<div class="item item-text-wrap">
					Progress : {{downloadProgress}}%
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>

