<style type="text/css">
.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    padding-top: 7px;
}

.page-content {
    background-color: #ffffff;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
}

.page-footbar{
	background-color:#ffffff !important;
	border-color:#B7BEC3 !important;
	margin:0 !important;
	height:49px;
}

.button-fullsize {
    width:100%;
    text-align:center;
    margin:0 auto;
    border:0;
    height:50px;
}

.form-text{
	display: block;
    padding-top: 10px;
    min-height:46px;
    padding-left: 0;
    padding-right: 15px;
    text-align:right;
    color: #111 !important;
    vertical-align: middle;
    line-height: 25px;
    font-size: 1em !important;
}
.bar{
	padding:0;
}
.norml-flow{
	background:#DD2727;
	font-size:10px !important;
	color:#fff !important;
	border-color:#fff;
	border-right:1px solid #999999;
}

.commit-flow{
	background:#387ef5;
	font-size:15px !important;
	color:#fff !important;
}

.back-flow{
	background:#387ef5;
	font-size:15px !important;
	color:#fff !important;
}



.vote{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:justify;
	height:60px;
	border-bottom: 1px solid #e2e2e2;
}
.vote a{
	line-height:30px;
	margin: 13px 15px;
	display:block;
	text-align:center;
	color:#fff;
	text-decoration:none;
	width:0;
	-webkit-box-flex:1;
}

.opioion-button{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:justify;
	height:60px;
}
.opioion-button a{
	line-height:30px;
	margin: 13px 150px;
	display:block;
	text-align:center;
	color:#fff;
	text-decoration:none;
	width:0;
	-webkit-box-flex:1;
}

.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 2s all linear;
}
.item-accordion.ng-hide {
  line-height: 0px;
}
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}

</style>
		<div class="vote">
			<a class="back-flow" ng-click="goFirstStep()" ng-if="workflowModal.isFirstStep">退回拟稿人</a>
			<a class="back-flow" ng-click="goPrevStep()" ng-if="workflowModal.isPrevStep">退回上一步</a>
			<a class="commit-flow" ng-click="submitWorkflow()" ng-if="workflowModal.isSubmit">流程提交</a>
			<!-- <div ng-if="workflowModal.isFirstStep" class="buttons"  style="width:20%;float:left" >
				<button class="button-fullsize" ng-click="goFirstStep()">退回拟稿人</button>
			</div>
			<div ng-if="workflowModal.isPrevStep" class="buttons" style="width:40%;float:left">
				<button class="button-fullsize back-flow" ng-click="goPrevStep()">退回上一步</button>
			</div>
			<div ng-if="workflowModal.isSubmit" class="buttons" style="width:40%;float:left" >
				<button class="button-fullsize commit-flow" ng-click="submitWorkflow()" >流程提交</button>
			</div> -->
		</div>
		<label class="item" style="text-align:center;background:#f2f2f2;padding:10px;" ng-if="workflowModal.isOpinion" ng-click="workflowModal.opClick=!workflowModal.opClick">
            <span style="padding-left:22px;" >审批意见</span><i ng-class="workflowModal.opClick ? 'ion-chevron-up' :'ion-chevron-down'" style="float:right;font-size:20px;"></i>
        </label>
        <ion-item ng-show="workflowModal.opClick" class="item-accordion">
        	 <textarea ng-model="workflowModal.curOpinion" rows="5"></textarea>
        </ion-item>
      <!--   <label class="item item-input item-animate" ng-show="workflowModal.opClick">
            <textarea ng-model="workflowModal.curOpinion" style="height:80px;"></textarea>
        </label> -->
        <div class="opioion-button" >
        	<a class="back-flow" ng-click="gotoOpinion()">流程详情</a>
        </div>
		<!-- <div class="timeline-container timeline-style2">
			<div class="timeline-items" ng-show="!workflowModal.opinionData.length">
				<p align="center">暂无意见</p>
			</div>
		<div class="timeline-items" ng-show="workflowModal.opinionData.length">

			<div class="timeline-item clearfix" ng-click="gotoOpinion()" style=" padding-bottom: 0">
				<div class="timeline-info">
					<span class="timeline-user">{{workflowModal.opinionData[0].username}}</span> <i
						class="timeline-indicator icon ion-ios-circle-outline"></i>
				</div>

				<div class="widget-box transparent">
					<div class="widget-body">
						<div class="widget-main no-padding">
							<div class="main-text">
								{{workflowModal.opinionData[0].content}}
							</div>
							<div class="timeline-date">
								{{workflowModal.opinionData[0].date}}
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div> -->
	
<!-- 
		<label class="item item-input" ng-if="workflowModal.isOpinion">
            <span class="input-label" style="width:20%">审批意见<span style="color:red"> *</span></span>
            <input type="text" ng-model="workflowModal.curOpinion" style="text-align:right">
        </label> -->
