<style>
.version-box{
    font-size: 12px;
    color: #f60;
    border: 1px solid #f60;
    text-align: center;
    padding: 0 3px;
}
</style>
<ion-modal-view ng-controller="LaunchFlowCtrl">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="launchModal.close()">
                返回
            </button>
        </div>
        <h1 class="title">选择流程</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="doWorkflow()">
                确定
            </button>
        </div>
    </ion-header-bar>
        <ion-content>
      
      <div class="list">
        
        <ion-radio ng-repeat="item in launchModal.workflowList"
                   ng-value="item.value"
                   ng-model="launchModal.data">
				<h2 style="color:#888888;margin-bottom:10px;">{{item.text}}</h2>
				 <p>
					<span class="version-box">版本 {{ item.version }}</span>
					<span class="version-box">{{ item.type }}</span>
				</p>
         <!--  <div class="row"><span>{{ item.text }}</span><span class="version-box">{{ item.text }}<span></div> -->
        </ion-radio>
        
      </div>
      
    </ion-content>
</ion-modal-view>
