<ion-modal-view ng-controller="BulletinCtrl">
	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="bulletinModal.close()">
				返回
			</button>
		</div>
		<h1 class="title">公告信息</h1>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item ng-click="bulletinModal.goto1($index)" ng-repeat="item in data.listData">
				<span style='float:right'><i class="ion-clock" style="color:green;padding-right: 5px"></i>
				{{item.dateformat}}</span><h3 style="color:#888888">{{item.draftUserName}}</h3>
				<h2 style="padding-top:5px">{{item.title}}</h2>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="moredata" on-infinite="bulletinModal.loadMore()" distance="1%" ></ion-infinite-scroll>
	</ion-content>
</ion-modal-view>

