<ion-modal-view ng-controller="lockSetCtrl" class="lock_backdrop">
	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<a class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="lockSetModal.close()">
				返回
			</a>
		</div>
	</ion-header-bar>
	<ion-content>
    <div id="lock_box">
			<h2 class="lock_h2" id="lock-set-msg">绘制解锁图案</h2>
			<div id="lockSet" class="lock_lock" >

			</div>
				<h2 class="lock_h22" ng-click="lockSetModal.cancel()" >取消图形锁</h2>
		</div>

	</ion-content>
</ion-modal-view>
