<style>
  .clickShow{
    animation:myfirst .5s;
    -webkit-animation:myfirst .5s;
  }
  @-webkit-keyframes myfirst /* Safari and Chrome */{
    0%{-webkit-transform: translate3d(0,1000%,0);}
    100% { -webkit-transform: translate3d(0,0,0); }
  }
  .lock_backdrop{
    background: linear-gradient(-45deg,rgba(72, 216, 255, 0.97),#3a93f3);
    background: -webkit-linear-gradient(-45deg,rgba(72, 216, 255, 0.97),#3a93f3);
  }
  .lock_hide{
  	background-color:rgba(0,0,0,0);
  	border-bottom: 0!important;
  }
  .lock_comm{
  	text-align:center;
  	overflow-y:hidden;
  	overflow-x: hidden;
  }
  .lock_box{

  }
  .lock_h2{
  	color: #FFFFFF;font-size: 1.5em;
  	margin-top:1em!important;
    text-align: center;
  }
  .lock_lock{
  	position: fixed;width:100%
  }
  .lock_h22{
  	color: #FFFFFF;
  	font-size: 1.1em;
  	position:fixed;
  	display:block;
  	text-align: center;
  	width:100%;
  	bottom:10em
  }
</style>
<ion-modal-view ng-controller="lockCtrl">
	<ion-header-bar class="bar-positive" align-title="center">
		<div class="buttons">
			<a class="button button-icon icon ion-ios-arrow-left button-clear" ng-click="lockModal.close()">
				返回
			</a>
		</div>
	</ion-header-bar>
	<ion-content ng-class="{true: 'lock_backdrop', false: ''}[lockModal.hasLock]">
    <div ng-show="!lockModal.hasLock" ng-click="lockModal.addLock()">
      <a class="item item-icon-left">
        <i class="icon ion-social-pinterest"></i>
        添加密码锁
      </a>
    </div>
    <div id="lock_box" ng-show="lockModal.hasLock">
			<h2 class="lock_h2" id="lock-msg">输入解锁图案</h2>
			<div id="lock" class="lock_lock" >

			</div>
				<h2 class="lock_h22" ng-click="lockModal.cancel()" >取消图形锁</h2>
		</div>

	</ion-content>
	</ion-modal-view>
