  /*  .item-complex .item-content {
      padding: 0rem;
    } */

    .selectFooterType_2_bg {
      background: #EEEEEE;
    }

    /*页面加载效果 样式1*/
    .load {
      margin: 300px auto;

      width: 150px;

      text-align: center;

    }

    .load div {

      width: 30px;

      height: 30px;

      background-color: rgb(118, 224, 250);

      border-radius: 100%;

      display: inline-block;

      -webkit-animation: load 1.4s infinite ease-in-out;

      -webkit-animation-fill-mode: both;

    }

    .load .circle1 {

      -webkit-animation-delay: -0.32s;

    }

    .load .circle2 {

      -webkit-animation-delay: -0.16s;

    }

    @-webkit-keyframes load {

      0%, 80%, 100% {
        -webkit-transform: scale(0.0)
      }

      40% {
        -webkit-transform: scale(1.0)
      }

    }

    /*.loading{*/
    /*background-color: #000 !important;*/
    /*opacity: 0.2;*/
    /*}*/
    .container {
      width: 480px;
      margin: 50px;
    }

    .progressBar {
      display: inline-block;
      width: 55%;
      height: 22px;
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 3%;
    }

    #progressFill {
      width: 0%;
      height: 22px;
      position: relative;
      background-color: #40A4C2;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      background-size: 3em 3em;
      background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #57D1F7 0.9em, #57D1F7 2.1em, transparent 2.1em, transparent 2.9em, #57D1F7 3.1em);
      -webkit-animation: warning-animation 750ms infinite linear;
      -moz-animation: warning-animation 750ms infinite linear;
      animation: warning-animation 750ms infinite linear;
    }

    #progressFill:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      background-image: linear-gradient(to bottom, #40A4C2, rgbA(37, 117, 188, 0.8) 15%, transparent 60%, #40A4C2);
    }

    @-moz-keyframes warning-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 3em 0;
      }
    }

    @-webkit-keyframes warning-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 3em 0;
      }
    }

    @-ms-keyframes warning-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 3em 0;
      }
    }


    @-o-keyframes warning-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 3em 0;
      }
    }
		


    @keyframes warning-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 3em 0;
      }
    }

    .progressText, #percentage {
      position: absolute;
      left: 45%;
      display: inline-block;
      /*margin-top: -11px;*/
      vertical-align: middle;
      color: white;
    }
    /*紧急程度 样式*/
    .yiban{
      background: green;
    }
    .ji{
      background: #deb74d;
    }
    .teji{
      background: red;
    }

     .list_div
    {
       padding: 5px  5px 5px 0px;
       animation:myfirst_div 0.4s;
      animation-fill-mode:forwards;
    }
		
    @keyframes myfirst_div
    {
      from {padding-left:0px;}
      to {padding-left:60px}
    }
    .list_div_test
    {
      padding: 5px  5px 5px 0px;
      animation:myfirst 0.4s;
      animation-fill-mode:forwards;
    }
		
    @keyframes myfirst
    {
      from {padding-left:60px;}
      to {padding-left:0px}
    }
		
    .list_hidden_check_test
    {
      animation:myfirst_check_hidden 0.2s;
      animation-fill-mode:forwards;
    }
		
    @keyframes myfirst_check_hidden
    {
      from {opacity:1; visibility: visible; }
      to {opacity:0; visibility: hidden;}
    }

    .list_visible_check_test
    {
      animation:myfirst_check_visible 0.35s;
      animation-fill-mode:forwards;
    }
    @keyframes myfirst_check_visible
    {
      from {opacity:0 }
      to {opacity:1}
    }
	
	
	
	  .list_hidden_check_circle_test
	{
	  animation:myfirst_check_hidden 0.2s;
	  animation-fill-mode:forwards;
	}
		
	@keyframes myfirst_check_hidden
	{
	  from {opacity:1; visibility: visible; }
	  to {opacity:0; visibility: hidden;}
	}
	
	.list_visible_check_circle_test
	{
	  animation:myfirst_check_visible 0.35s;
	  animation-fill-mode:forwards;
	}
	@keyframes myfirst_check_visible
	{
	  from {opacity:0}
	  to {opacity:1}
	}
	/* 显示删除按钮 */
	.list_show_delete_style{
		animation-delay:0.5s;
		animation: top_delete 0.8s;
		animation-fill-mode: forwards;
	}
	
	@keyframes top_delete{
		from{top:79%;left:84%;z-index:89}to{top:67%;left:84%;z-index:99}
	}
		/* 影藏删除按钮 */
	.list_hidden_delete_style{
		animation:hidden_delete  0.3s ;
		animation-fill-mode: forwards;
	}
	
	@keyframes hidden_delete{
	from{top:67%;left:84%;z-index:99}to{ top:91%;left:82%;z-index:89}
	}
		/* 显示全选按钮 */
	.list_show_allSelect_style{
		animation:all_selected 0s;
		animation-fill-mode: forwards;
	}
	
	@keyframes all_selected{
		from{top:90%;left:82%;z-index:89}to{top:79%;left:84%;z-index:99}
	}
	/* 影藏全选按钮 */
	.list_hidden_allSelect_style{
		animation-delay:0.35s;
		animation:none_selected  0.3s ;
		animation-fill-mode: forwards;
	}
	
	@keyframes  none_selected{
	from{top:79%;left:84%;z-index:99}to{ top:91%;left:82%;z-index:89}
	}
	/* 原有显示样式 */
	.list_hidden_check_circle_two_test
	{
	  animation:myfirst_check_hidden_two 0.3s;
	  animation-fill-mode:forwards;
	}
		
	@keyframes myfirst_check_hidden_two
	{
	  from {opacity:1; visibility: visible; }
	  to {opacity:0; visibility: hidden;}
	}
	
	
	
	.list_visible_check_circle_two_test
	{
	  animation:myfirst_check_visible_two 0.25s;
	  animation-fill-mode:forwards;
	}
	@keyframes myfirst_check_visible_two
	{
	  from {opacity:0}
	  to {opacity:1}
	}
